   <%- include("header") -%>
   <div class="">
     <form  action="/" method="post">
       <div class="box1">
         <p>Title</p>
         <textarea class ="text1" id="w3review" name="title" rows="1" cols="50"> </textarea>
       </div>
       <div class="box">
         <p>Message:</p>
         <textarea class ="text1" id="w3review" name="Message" rows="10" cols="100"> </textarea>
         <button type="submit" name="button">Save</button>
       </div>

     </form>
   </div>

   <%- include("footer") -%>
